.projetos { 
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    float: left; 
    margin-right: 10px; 
    background: white; 
    padding: 5px; 
    width: 143px;
    font-size: 11px;
}

.diastyle {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    float: left; 
    margin: 1px;
    background: #F5F5F5; 
    border-color:#F6F6F6;
    padding: 5px; 
    width: 145px;
    height: 145px;
    font-size: 9px;
}

#sortable1 li, #sortable2 li, #sortable3 li { 
    margin: 5px; 
    padding: 5px; 
    font-size: 1.2em; 
    width: 120px; 
}