.projetos { 
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    float: left; 
    margin-right: 10px; 
    background: white; 
    padding: 5px; 
    width: 143px;
    height:650px;
    font-size: 11px;
}

.diastyle {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    float: left; 
    margin: 1px;
    background: #F5F5F5; 
    border-color:#F6F6F6;
    padding: 5px; 
    width: 100px;
    height: 100px;
    font-size: 12px;
    font-family:Arial;
}

.diatitulo {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    float: left; 
    background: #373737; 
    border-color:#F6F6F6;
    padding: 5px; 
    width: 102px;
    height: 30px;
    font-size: 12px;
    font-family: Arial;
    color: #F2F2F2;
}

li.diastyle div {
    font-size: 9px;
    background: #7187AD; 
    font-family:Arial;
    color:white;
    border-color: #F5F5F5;
    border: 1px solid;
    height: 20px;
}