.projetos { 
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    float: left; 
    margin-right: 10px; 
    background: white; 
    padding: 5px; 
    width: 100px;
    height:650px;
    font-size: 11px;
}

.diastyle {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    float: left; 
    margin: 1px;
    background: #F5F5F5; 
    border-color:#F6F6F6;
    padding: 5px; 
    width: 82px;
    height: 82px;
    font-size: 12px;
    font-family:Arial;
}

.barramesano {
    background-color: #373737; 
    border-color:#F6F6F6;
    padding: 5px; 
    width: 84px;
    height: 30px;
    font-size: 12px;
    font-family: Arial;
    color: #F2F2F2;
}

.diatitulo {
    background: #373737; 
    border-color:#F6F6F6;
    padding: 5px; 
    width: 84px;
    height: 30px;
    font-size: 12px;
    font-family: Arial;
    color: #F2F2F2;
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    float: left; 
}

li.diastyle div {
    font-size: 9px;
    background: #7187AD; 
    font-family:Arial;
    color:white;
    border-color: #F5F5F5;
    border: 1px solid;
    height: 20px;
}

.mesStyle {
    font-size: 12px;
    font-family: Arial;
    float:left;
}

.anoStyle {
    font-size: 12px;
    font-family: Arial;
    float: right;
}