<div ng-controller="calendarioController">
    <pre><h1><center>Dextra Calendario Horas</center></h1></pre>
    <pre>Data selecionada: <em>{{dt | date:'fullDate' }}</em></pre>
    <div style="display:inline-block; min-height:290px;">
      <div ng-model="dt">
        <ul id="sortable1" class="droptrue projetos"> <strong>Projetos</strong>
            <li class="ui-state-default droptrue">
              <div>Projeto FAB</div>
            </li>
            <li class="ui-state-default droptrue">
                <div>Projeto Polo Central</div>
            </li>
            <li class="ui-state-default droptrue">
                <div>Projeto Kroton</div>
            </li>
            <li class="ui-state-default droptrue">
                <div>Projeto a</div>
            </li>
            <li class="ui-state-default droptrue">
                <div>Projeto b</div>
            </li>
            <li class="ui-state-default droptrue">
                <div>Projeto c</div>
            </li>
        </ul>
        <div>
            <div class="topocalendario">
                <div>
                    <button class="topocalendarioleft"><</button>
                    <p class="topocalendarioleft">{{nomeMes}}</p>
                    <input id="mes" value="{{numMes}}" type="hidden"/>
                    <button class="topocalendarioleft">></button>
                </div>
                <div>
                    <button class="topocalendarioright"><</button>
                    <p id="ano" class="topocalendarioright">{{ano}}</p>
                    <button class="topocalendarioright">></button>
                </div>
            </div>            
            <ul id="sortable2">
                <li class="diatitulo">Domingo</li>
                <li class="diatitulo">Segunda</li>
                <li class="diatitulo">Terça</li>
                <li class="diatitulo">Quarta</li>
                <li class="diatitulo">Quinta</li>
                <li class="diatitulo">Sexta</li>
                <li class="diatitulo">Sabado</li>
            </ul>
            <ul id="sortable2">
                <li id="dia{{dia.dia}}" class="diastyle droptrue" 
                    ng-repeat="dia in getDias(numMes, ano)" drag-drop-diretiva>{{dia.dia}}</li>
            </ul>
        </div>
      </div>
    </div>
</div>