<div ng-controller="calendarioController">
    <pre><h1><center>Calendário ala Google</center></h1></pre>
    <pre>Data selecionada: <em>{{dt | date:'fullDate' }}</em></pre>
    <div style="display:inline-block; min-height:290px;">
      <d$iv class="well well-sm" ng-model="dt">
          <datepicker min="minDate" show-weeks="showWeeks"></datepicker>

          </br>
        <ul id="sortable1" class="droptrue projetos"> <strong>Projetos</strong>
          <li class="ui-state-default">Projeto FAB</li>
          <li class="ui-state-default">Projeto Polo Central</li>
          <li class="ui-state-default">Projeto Kroton</li>
          <li class="ui-state-default">Projeto a</li>
          <li class="ui-state-default">Projeto b</li>
          <li class="ui-state-default">Projeto c</li>
        </ul>
        
        <ul id="sortable2" class="droptrue diastyle" ng-repeat="dia in dias">{{dia.dia}}
        </ul>
        
        <ul id="sortable2" class="droptrue diastyle"> Arraste para cá!
        </ul>
        
      </div>
    </div>
</div>